.error {
  border: 1px solid red;
}

.content .middle form {
  width: 100%;
  margin-top: 20px;
}
.content .middle form .form-group label {
  font-size: 20px;
  color: var(--text-black);
  font-family: Roboto, sans-serif;
}
.content .middle form .form-group .form-control {
  width: 90%;
  padding: 15px;
  margin-bottom: 10px;
  float: left;
  margin-left: 0px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--card-background);
}
.content .middle .product-content-list h2 {
  font-size: 20px;
  padding: 10px;
  font-weight: 300;
  color: var(--text-white);
  font-family: Roboto, sans-serif;
}
.content .middle .product-content-list table tbody tr:hover {
  transform: scale(1);
}